  body
  {
    background-color: #f4f6ff;
  }
  hr
  {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 15%;
  }
  h1
  {
    color: #14b1ab;
  }
  h3
  {
    color: #14b1ab;
  }
  strong
  {
    color: #14b1ab;
  }
b
{
  color: #14b1ab;
}
